# Pima Data cleaning

In [353]:
# Import Modules Here
import pandas as pd

## Part 1: Read the Data into Jupyter

In [356]:
# Read the data into a dataframe named pima_df.
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')

## Part 2: Missing Data

In [359]:
#Question 1:  Find Columns with missing data
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [361]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE
pima_missing_fixed_df = pima_df.dropna(how='any')
pima_missing_fixed_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [363]:
# Question 3:  Print out the number of rows in the dataframe.
pima_missing_fixed_df.shape[0]

840

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

Missing data could be problematic because if it isn't removed it may skew the data and interpretation.

## Part 3: Duplicated Data

In [367]:
# Question 1:  In your Jupyter Notebook, find the rows of duplicated data in the pima_missing_fixed_df and print them.  
pima_missing_fixed_df.duplicated

<bound method DataFrame.duplicated of       Pregnancies  Glucose BloodPressure  SkinThickness  Insulin   BMI  \
0             3.0    167.0            39             28      545  53.0
1            13.0    151.0           107             38    10000   9.2
2             8.0     59.0           109             18      739  59.1
4            10.0    165.0            48             37      737  39.4
5          -100.0    142.0            88             39       82  42.7
...           ...      ...           ...            ...      ...   ...
998           6.0    110.0            26             27      590  20.8
999           6.0    110.0            26             27      590  20.8
1001          4.0     80.0            24              6      268  48.9
1002          3.0    142.0         Error             10      299   4.8
1003          6.0    151.0            60             26      362  43.4

      DiabetesPedigreeFunction    Age Outcome
0                        2.447  125.0   FALSE
1                        0.507  148.0   FALSE
2                        1.769   91.0    TRUE
4                        0.729   73.0   FALSE
5                        1.369  148.0    TRUE
...                        ...    ...     ...
998                      1.185   95.0   FALSE
999                      1.185   95.0   FALSE
1001                     0.989   81.0    TRUE
1002                     2.411   71.0    TRUE
1003                     2.027   23.0   FALSE

[840 rows x 9 columns]>

In [369]:
# Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates(keep='last')

In [371]:
# Question 3:  Print out the number of rows in the dataframe.
pima_dedupped_df.shape[0]

836

### Question 4:  In your jupyter notebook, discuss why this could be a problem.
### What other methods could you use in this situation? 

Removing duplicates isn't overly useful when removing duplicate data for quantifiable items such as blood pressure, glucose, etc as those could be identical across medical records.

## Part 4: Mis-typed Columns/Broken Data

In [375]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
# pima_dedupped_df['Outcome'].value_counts() : 1 error
# pima_dedupped_df['BloodPressure'].value_counts() : 2 errors
pima_dedupped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             836 non-null    object
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       836 non-null    object
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.3+ KB

Discussion about data errors
There are a couple columns with data errors including "BloodPressure" and "Outcome"
Additionally, BMI is set as an object and should probably be a float given the data presented

In [378]:
# Question 2: Remove the rows with data errors
pima_dedupped_df = pima_dedupped_df.loc[pima_dedupped_df['BloodPressure'] != 'Error', :]
pima_dedupped_df = pima_dedupped_df.loc[pima_dedupped_df['Outcome'] != 'ERROR', :]

In [380]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.
def word_to_bool(x: str):
    if x.lower() == 'false':
        return False
    elif x.lower() == 'true':
        return True

In [382]:
pima_dedupped_df['Outcome'] = pima_dedupped_df['Outcome'].apply(word_to_bool)

In [384]:
pima_dedupped_df = pima_fixed_columns_df

NameError: name 'pima_fixed_columns_df' is not defined

In [386]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

NameError: name 'pima_fixed_columns_df' is not defined

## Part 5: Outlier Detection and Removal

In [ ]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.

In [ ]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.

In [ ]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.