# Pima Data cleaning

In [107]:
# Import Modules Here
import pandas as pd

## Part 1: Read the Data into Jupyter

In [110]:
# Read the data into a dataframe named pima_df.
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')

## Part 2: Missing Data

In [113]:
#Question 1:  Find Columns with missing data
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [115]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE
pima_missing_fixed_df = pima_df.dropna(how='any')
pima_missing_fixed_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [117]:
# Question 3:  Print out the number of rows in the dataframe.
pima_missing_fixed_df.shape[0]

840

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

Missing data could be problematic because if data is unknown it can affect and skew data analysis and interpretation. Additionally, with missing data points data calculations such as mean, median, correlation coefficient, etc. will not be accurate which can cause bias when interpreting the results.

## Part 3: Duplicated Data

In [121]:
# Question 1:  In your Jupyter Notebook, find the rows of duplicated data in the pima_missing_fixed_df and print them.  
pima_missing_fixed_df[pima_missing_fixed_df.duplicated()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [123]:
# Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates(keep='last')

In [125]:
# Question 3:  Print out the number of rows in the dataframe.
pima_dedupped_df.shape[0]

836

### Question 4:  In your jupyter notebook, discuss why this could be a problem.
### What other methods could you use in this situation? 

Duplicate data is problematic because it can effect data calculation and interpretation. This can have an impact on interpreting items such as correlation what duplicate data points cause a correlation to be stronger or weaker than it is in reality.

## Part 4: Mis-typed Columns/Broken Data

In [129]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
# pima_dedupped_df['Outcome'].value_counts() : 1 error
# pima_dedupped_df['BloodPressure'].value_counts() : 2 errors
pima_dedupped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             836 non-null    object
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       836 non-null    object
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.3+ KB

Discussion about data errors
There are a couple columns with data errors including "BloodPressure" and "Outcome"
Additionally, BMI is set as an object and should probably be a float given the data presented

In [132]:
# pima_fixed_columns_df = pima_dedupped_df.loc[pima_dedupped_df['Outcome'] != 'ERROR', :]
error_columns = (pima_dedupped_df.BloodPressure == 'Error') | (pima_dedupped_df.BMI == 'Error') | (pima_dedupped_df.Outcome == 'ERROR')
pima_fixed_columns_df = pima_dedupped_df[~error_columns].copy()
pima_fixed_columns_df.Outcome.value_counts()

Outcome
FALSE    441
TRUE     391
Name: count, dtype: int64

In [134]:
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    object
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    object
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.0+ KB

In [136]:
pima_fixed_columns_df.Outcome.value_counts()

Outcome
FALSE    441
TRUE     391
Name: count, dtype: int64

In [138]:
pima_fixed_columns_df['BloodPressure'] = pima_fixed_columns_df.BloodPressure.apply(lambda x: int(x))
pima_fixed_columns_df['BMI'] = pima_fixed_columns_df.BMI.apply(lambda x: float(x))

In [140]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 65.0+ KB

## Part 5: Outlier Detection and Removal

In [143]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
def is_outlier(column: pd.Series):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR 
    upper_bound = Q3 + 1.5 * IQR 
    return ~column.between(lower_bound, upper_bound)

In [145]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BloodPressure'])]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,3.0,155.0,10000,35,748,32.6,0.098,85.0,TRUE
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,FALSE

In [147]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Glucose'])]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [149]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Pregnancies'])]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE

In [151]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Insulin'])]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE

In [153]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['SkinThickness'])]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [155]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BMI'])]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [159]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
pima_fixed_columns_df = pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BloodPressure']) != True]
pima_fixed_columns_df = pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Pregnancies']) != True]
pima_fixed_columns_df = pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Insulin']) != True]
pima_outlier_removed_df = pima_fixed_columns_df.copy()

In [161]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
pima_fixed_columns_df.shape[0]

828